examples/gui_control/scripts/views/__pycache__/temperature_plot.cpython-38.pyc
examples/L20/L20_get_linker_hand_state/scripts/utils/__pycache__/color_msg.cpython-38.pyc
range_to_arc/scripts/utils/__pycache__/linker_range_arc.cpython-38.pyc
